.password-strength-checker {
	width: 300px;
	margin: 20px auto;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.strength-indicators {
	display: flex;
	justify-content: space-around;
}

.strength-indicators div {
	margin-left: 25px;
	width: 30%;
	height: 10px;
}

.gray {
	background-color: gray;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}
